@import "style2.css";

header{
    width: 430px;;
}
nav{
    width: 430px;
    margin: 0 auto;
}
nav > ol{
    width: 430px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
}
main{
    width: 100%;
}
#grid1{
    display: block;
    border: 10px solid crimson;
    border-style: ridge;
}
#Story{
    display: block;
}
h3{
    justify-content: center;
    text-align: center;
}
h4{
    justify-content: center;
    text-align: center;
}
#TheExperiment{
    border: 10px solid crimson;
    display: block;
    border-style: ridge;
}