#Story{
    color: rgb(57, 255, 20);
}
header{
    text-align: center;
    padding: 0;
}
nav ol{

   
    list-style: none;
    padding :0;

}
body{
    background-color: rgba(0, 0, 0, 0.951)
}
h1{
    color: rgba(12, 25, 206, 0.864)
}
#TheExperiment{
    color: rgba(248, 29, 29, 0.962)
}
nav{
    color: whitesmoke;
}