/* comment */
:root{
    --content-background-color: rgba(255,255,255,1.0);
}

body{
    background-color: darkorange;
    transition: background-color 0.5s ease;
}
body:hover{
    background-color: aqua;

}
header{
    background-color: rgba(228, 6, 228, 0.908);
    background-color: var(--content-background-color);
}
main{
    background-color: rgba(255, 50, 70, 0.929);

}
footer{
    background-color: rgba(150, 75, 80, 0.879);
}
h1{
    /* background-color: #333333; */
    
    
}
h2,h3{
    font-family:  cursive;
}